.question {
    margin: 50px auto;
    background-color: rgb(228, 230, 235);
    padding: 15px 20px 0 10px;
    border-radius: 2px;
}
  
.question-image {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.title {
    margin: 0 20px;
}
  
.tag {
    background-color: rgb(204, 205, 207);
    padding: 1px 3px;
    margin: 10px 5px;
    font-style: italic;
}