* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.question {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(228, 230, 235);
  width: 60%;
  padding-top: 20px;
  cursor: pointer;
}

.image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.title-tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  color: rgb(30, 30, 110);
}

.tag {
  background-color: rgb(204, 205, 207);
  padding: 1px 3px;
}

.question-upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
}